<style type="text/css">
	code {
		font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
		font-size: 12pt;
	}

	code.hl-keyword {
		color: rgb(0, 102, 153);
	}

	code.hl-name {

	}

	code.hl-number {
		color: rgb(200, 50, 50);
	}

	code.hl-quote {
		color: rgb(150, 73, 52)
	}
</style>